.main
  .card.devise-card
    .form-wrap
      .form-group.text-center
        %h2.logo-img.mx-auto
        %p.text-secondary 応援しているチームや選手・HCが編集できるよ！
      -# = form_with scope: @favorite, as: @favorite, local:true do |f|
      -# = form_for @favorite do |f|
      = form_with model: @favorite, url: { action: :update }, local: true do |f|
        .form-group
          = f.label :team
          = f.text_field :team, autofocus: true, placeholder: "好きなチームは？", class: "form-control"
        .form-group
          = f.label :player
          = f.text_field :player, autofocus: true, placeholder: "好きな選手は？", class: "form-control"
        .form-group
          = f.label :headcoach
          = f.text_field :headcoach, autofocus: true, placeholder: "好きなHCやコーチは？", class: "form-control"
        .actions
          = f.submit "編集する", class: "btn btn-primary w-100"


